<header>
	<navbar></navbar>
</header>

<div class="container" layout="column" layout-align="center center">


	<img src="/assets/images/gazing_pensively.png" alt="gazing pensive" class="picture">


	<div class="quote" ng-if="vm.quoteData">
		"{{vm.quoteData[vm.counter].text | lineBreak}}"
	</div>
	<md-button class="md-accent md-raised" ng-click="vm.counter=+vm.counter + 1">Tell me more, Jeff</md-button>
</div>

<div class="site-description" layout="column" layout-align="center center">
	<div>
		<h1>Looking Thoughtful, Feeling Thoughtful</h1>
		<h3>Mindful? Hopeful? Wistful? </h3>
		Gaze pensively with me for a moment as we consider big life questions.

		<ul>
			<li>What if the air is poisonous, and it just takes 80 years to kill us?</li>
			<li>What are snails even trying to do?</li>
			<li>What if "Soy Milk" is just Regular Milk introducing himself in Spanish?</li>
		</ul>

		Big questions need big answers. Let's stare off into the distance and ponder life's mysteries together.

		<br>
		<br> - Jeff

	</div>
</div>
<footer>
	<hr>
	<div layout="row" layout-align="center center">
		Creating Lovingly by Pensive Gazers Everywhere
	</div>
</footer>